main {
	position: relative;
	top: 100px;
	@include -s() {
		position: relative;
		top: 60px;
	}
	@include -xl() {
		position: relative;
		top: 80px;
	}
	&.integrated {
		position: static;
		top: 0;
	}
}

.overflow {
	overflow: hidden;
}

.material-icons {
	user-select: none;
}

.basket-modal {
	&.show {
		@include transition();
		@include s-xl() {
			top: 92px !important;
			right: 20px;
		}
		@include -s() {
			top: 92px !important;
			right: 0px;
			padding: 0 $padding-section-s/4;
		}
		top: 112px !important;
		box-shadow: 0 18px 28px rgba(0, 0, 0, 0.4);
		opacity: 1;
	}
	@include transition();
	position: fixed;
	right: 100px;
	background-color: $color-gray-l;
	border-top: 1px solid $color-orange;
	padding-left: $padding-section-s/2;
	margin-top: -12px;
	z-index: 1;
	opacity: 0;
	@include -s() {
		top: 92px;
		right: 0px;
		padding: 0 $padding-section-s/4;
	}
	@include s-xl() {
		top: 92px;
		right: 20px;
	}
	.product-shop {
		ul {
			@include s-() {
				padding-right: $padding-section-s/2;
				max-height: 70vh;
			}
			@include -s() {
				max-height: 40vh;
			}
			overflow-y: auto;
			.empty-state {
				@include transition();
				@include -s() {
					width: calc(100vw - 20px);
				}
				width: 450px;
				text-align: center;
				padding: $padding-section-s;
				&.hide {
					@include transition();
					display: none;
				}
				img {
					width: 150px;
				}
				.empty-state-text {
					@include paragraph($color-orange, 20px,italic);
					margin-top: 30px;
				}
			}
			li {
				@include -s() {
					width: calc(100vw - 20px);
					padding: 10px 0;
				}
				position: relative;
				width: 450px;
				border-bottom: 1px dashed $color-orange;
				padding: 20px 0;
				text-align: left;
				img {
					@include -s() {
						height: 40px;
						width: 40px;
						margin-right: 10px;
					}
					display: inline-block;
					height: 70px;
					width: 70px;
					vertical-align: top;
					margin-right: 20px;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}
				h3 {
					@include -s() {
						line-height: 40px;
						font-size: 14px;
					}
					@include title($color-blue,20px);
					display: inline-block;
					vertical-align: top;
					line-height: 70px;
				}
				p {
					@include -s() {
						line-height: 40px;
						font-size: 14px;
						right: 45px;
					}
					position: absolute;
					right: 55px;
					@include title($color-blue,20px);
					font-weight: 400;
					display: inline-block;
					vertical-align: top;
					line-height: 70px;
					&::before {
						content: '€';
					}
				}
				i {
					@include -s() {
						top: calc(60px / 2);
					}
					position: absolute;
					top: calc(110px / 2);
					right: 0;
					transform: translateY(-50%);
					vertical-align: top;
					cursor: pointer;
				}
			}
		}
	}
	.basket-footer {
		@include -s() {
			padding: $padding-section-s/4 0;
			height: calc(35px + 20px);
		}
		@include transition();
		padding: $padding-section-s/2 0;
		height: calc(35px + 40px);
		position: relative;
		text-align: left;
		&.hide {
			@include transition();
			display: none;
		}
		p {
			@include -s() {
				font-size: 14px;
			}
			line-height: 40px;
			display: inline-block;
			vertical-align: top;
			@include paragraph($color-blue-l, 16px);
			span {
				color: $color-orange;
				&::before {
					content: '€';
				}
			}
		}
		button {
			@include -s() {
				right: 0;
			}
			display: inline-block;
			vertical-align: top;
			@include transition();
			@include btn-solid-s($color-orange, $color-blue);
			position: absolute;
			right: $padding-section-s/2;
			border: none;
			&:hover {
				@include transition();
				background-color: $color-orange-d;
				color: $color-blue;
			}
		}
	}
}

.proceed {
	&.hide {
		display: none;
	}
	.line-v {
		display: inline-block;
		position: relative;
		width: 25px;
		height: 25px;
		border-right: 2px solid $color-orange;
		border-bottom: 2px solid $color-orange;
		transform: rotate(45deg);
		&:first-child {
			left: -8px;
		}
		&:last-child {
			left: 8px;
		}
	}
}

select,
input[type="checkbox"] {
	cursor: pointer;
}