// HEADINGS & PARAGRAPHS

@mixin title($color,$size) {
	color: $color;
	font-family: $font-3;
	font-size: $size;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

@mixin paragraph($color,$size,$style: normal) {
	color: $color;
	font-family: $font-2;
	font-size: $size;
	letter-spacing: 1px;
	font-style: $style;
}

// BUTTON

@mixin btn-solid($bg-color,$txt-color) {
	background-color: $bg-color;
	color: $txt-color;
	font-family: $font-3;
	font-size: 20px;
	text-transform: uppercase;
	padding: 15px 40px;
	cursor: pointer;
}

@mixin btn-solid-s($bg-color,$txt-color) {
	background-color: $bg-color;
	color: $txt-color;
	font-family: $font-3;
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px 20px;
	cursor: pointer;
}

// TRANSITION

@mixin transition($time: $transition-time) {
	transition: all $time;
}
