//MQ

$mobile: 640px; //s
$tablet: 800px; //m
$laptop: 1025px; //l
$widescreen: 1200px; //xl

@mixin -s() {
	@media (max-width: $mobile) {
		@content;
	}
}

@mixin -m() {
	@media (max-width: $tablet) {
		@content;
	}
}

@mixin -l() {
	@media (max-width: $laptop) {
		@content;
	}
}

@mixin -xl() {
	@media (max-width: $widescreen) {
		@content;
	}
}

@mixin s-m() {
	@media (min-width: $mobile) and (max-width: $tablet) {
		@content;
	}
}

@mixin s-l() {
	@media (min-width: $mobile) and (max-width: $laptop) {
		@content;
	}
}

@mixin s-xl() {
	@media (min-width: $mobile) and (max-width: $widescreen) {
		@content;
	}
}

@mixin m-l() {
	@media (min-width: $tablet) and (max-width: $laptop) {
		@content;
	}
}

@mixin m-xl() {
	@media (min-width: $tablet) and (max-width: $widescreen) {
		@content;
	}
}

@mixin l-xl() {
	@media (min-width: $laptop) and (max-width: $widescreen) {
		@content;
	}
}

@mixin hide-mobile() {
	@media only screen and (max-width: $mobile) {
		display: none;
	}
}

@mixin hide-tablet() {
	@media only screen and (max-width: $tablet) {
		display: none;
	}
}

@mixin hide-laptop() {
	@media only screen and (max-width: $laptop) {
		display: none;
	}
}

@mixin hide-widescreen() {
	@media only screen and (max-width: $widescreen) {
		display: none;
	}
}

@mixin s-() {
	@media (min-width: $mobile) {
		@content;
	}
}

@mixin m-() {
	@media (min-width: $tablet) {
		@content;
	}
}

@mixin l-() {
	@media (min-width: $laptop) {
		@content;
	}
}

@mixin xl-() {
	@media (min-width: $widescreen) {
		@content;
	}
}
