// COLOR

$color-blue: #253e66; //blue
$color-blue-l: lighten($color-blue, 20%);
$color-blue-d: darken($color-blue, 20%);

$color-gold: #c29d4e; //gold
$color-gold-l: lighten($color-gold, 20%);
$color-gold-d: darken($color-gold, 20%);

$color-orange: #ef6555; //orange
$color-orange-l: lighten($color-orange, 20%);
$color-orange-d: darken($color-orange, 20%);

$color-gray: #e3dfd7; //gray
$color-gray-l: lighten($color-gray, 10%);
$color-gray-d: darken($color-gray, 10%);

$color-error: #cc0000; //error
$color-warning: #ff8800; //warning
$color-success: #007e33; //success

// FONTS

// $font-1: 'Monoton', cursive;
$font-2: 'Tenali Ramakrishna', sans-serif; //paragraph
$font-3: 'Nanum Brush Script', cursive; //title

// SPACING

$padding-section-s: 40px;

// BORDERS

// TRANSITIONS

$transition-time: .5s;

// BOX-SHADOW
