.about-us {
	@include -l() {
		padding: $padding-section-s/2;
	}
	text-align: center;
	padding: $padding-section-s;
	font-size: 0;
	h2 {
		@include -m() {
			@include title($color-orange,32px);
		}
		@include title($color-orange,42px);
		margin-bottom: 20px;
	}
	.description {
		@include -m() {
			@include paragraph($color-blue-l, 14px,italic);
		}
		@include paragraph($color-blue-l, 18px,italic);
    }
    .about-container {
        margin: $padding-section-s 0;
        @include -s() {
            margin: $padding-section-s/2 0;
        }
        font-size: 0;
        article {
            vertical-align: top;
            display: inline-block;
            width: 50%;
            padding: $padding-section-s/4;
            @include -s() {
                display: block;
                width: 100%;
            }
            img {
                width: 100%;
                height: 30vw;
                object-fit: cover;
                object-position: center;
                margin: $padding-section-s 0;
                @include -s() {
                    height: 60vw;
                }
            }
            h3 {
                text-align: left;
                @include title($color-blue-d,28px);
                margin-bottom: $padding-section-s/2;
            }
            p {
                text-align: left;
                @include paragraph($color-blue-l, 16px);
                line-height: 18px;
                padding-right: $padding-section-s*2;
                @include -m() {
                    padding-right: $padding-section-s;
                }
                @include -s() {
                    padding-right: 0;
                }
            }
        }
    }
}