.articles {
	@include -l() {
		padding: $padding-section-s/2;
	}
	text-align: center;
	padding: $padding-section-s;
	font-size: 0;
	h2 {
		@include -m() {
			@include title($color-orange,32px);
		}
		@include title($color-orange,42px);
		margin-bottom: 20px;
	}
	.show-more {
		@include transition();
		@include -m() {
			@include paragraph($color-blue-l, 14px,italic);
		}
		@include paragraph($color-blue-l, 18px,italic);
		text-decoration: underline;
		cursor: pointer;
		display: inline-block;
		&:hover {
			color: $color-blue-d;
		}
		&.hide {
			display: none;
		}
	}
	i {
		@include transition();
		display: inline-block;
		vertical-align: top;
		font-size: 15px;
		color: $color-blue-l;
		&.hide {
			display: none;
		}
		&.close {
			transform: rotate(180deg);
		}
	}
	.article-container {
		text-align: left;
		&.hidden {
			display: none;
		}
		article {
			@include -m() {
				margin: 5% 2%;
				width: calc(25% - 4%);
			}
			@include -s() {
				width: calc(50% - 6%);
				height: 60vw;
				margin: 10% 3%;
			}
			@include transition(1s);
			cursor: pointer;
			text-align: center;
			width: calc(25% - 6%);
			height: 30vw;
			margin: 3%;
			display: inline-block;
			vertical-align: top;
			&:hover {
				img {
                    @include transition(1s);
                    border: 2px dashed $color-orange;
                    opacity: 1;
				}
				.description {
                    @include transition(1s);
                    color: $color-orange;
                    font-size: 18px;
                    top: 0;
				}
				.price {
                    @include transition(1s);
                    color: $color-orange;
                    font-size: 18px;
                    top: 0;
					&::before {
                        @include transition(1s);
                        color: $color-orange;
                        font-size: 18px;
                        top: 0;
					}
				}
			}
			img {
				@include l-() {
					opacity: 0.25;
				}
				@include transition(1s);
				border: 2px dashed $color-blue-l;
				display: block;
				width: 100%;
				height: 80%;
				object-fit: cover;
				margin-bottom: 25px;
			}
			.description {
				@include transition(1s);
				@include l-() {
					position: relative;
					top: -50%;
					@include title($color-blue-l, 24px);
				}
				@include title($color-blue-l, 18px);
				display: block;
				margin-bottom: 5px;
				text-transform: none;
			}
			.price {
				@include transition(1s);
				@include l-() {
					@include title($color-blue, 24px);
					position: relative;
					top: -50%;
				}
				display: block;
				@include title($color-blue, 18px);
				text-transform: none;
				&::before {
					@include transition(1s);
					content: '€';
					@include title($color-blue, 18px);
				}
			}
		}
	}
}