.breadcrumb {
	padding: $padding-section-s / 2;
	ul {
		li {
			@include -s() {
				padding: 0 6px;
			}
			&:not(:first-of-type)::before {
				@include -s() {
					right: 8px;
					font-size: 14px;
				}
				@include title($color-blue-l,20px);
				content: '/';
				position: relative;
				right: 23px;
			}
			&:last-of-type {
				a {
					color: $color-blue-d;
				}
			}
			display: inline-block;
			padding: 0 24px;
			a {
				@include -s() {
					font-size: 14px;
				}
				@include title($color-blue-l,20px);
				text-decoration: none;
			}
		}
	}
}
