.main-footer {
    position: relative;
	top: 100px;
	@include -s() {
        position: relative;
		top: 60px;
	}
	@include -xl() {
        position: relative;
		top: 80px;
    }
    &.integrated {
        position: static;
        top: 0;
    }
	@include -l() {
		padding: $padding-section-s/2;
	}
	padding: $padding-section-s;
	font-size: 0;
	background-color: $color-gray-l;
	.footer-col {
		&:not(.social) {
			@include hide-mobile();
		}
		&:not(:first-of-type) {
			border-left: 1px dashed $color-blue;
			padding-left: 20px;
		}
		&.social {
			@include -s() {
				width: 100%;
				border: none;
				height: 150px;
			}
		}
		vertical-align: top;
		display: inline-block;
		width: 25%;
		height: 185px;
		ul {
			height: 100%;
			.li-title {
				@include title($color-blue,20px);
				margin: 20px 0;
			}
			.li-content {
				a {
					@include paragraph($color-blue-l, 16px);
				}
				@include paragraph($color-blue-l, 16px);
				margin: 5px 0;
			}
			.li-icon {
				margin: 10px 0;
				i {
					@include transition();
					cursor: pointer;
					border: 1px dashed $color-orange;
					margin-right: 10px;
					padding: 5px;
					font-size: 20px;
					color: $color-blue-l;
					&:hover {
						color: $color-orange;
						border: 1px dashed $color-blue-l;
					}
				}
			}
		}
	}
}
