.forms {
	@include -l() {
		padding: $padding-section-s/2;
	}
	&.hide {
		display: none;
	}
	text-align: center;
	padding: $padding-section-s;
	font-size: 0;
	h2 {
		@include -m() {
			@include title($color-orange,32px);
		}
		@include title($color-orange,42px);
		margin-bottom: 20px;
	}
	.description {
		@include -m() {
			@include paragraph($color-blue-l, 14px,italic);
		}
		@include paragraph($color-blue-l, 18px,italic);
		cursor: default;
		display: inline-block;
	}
	.form-container {
		padding: 100px 25% 0;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: repeat(7, 150px);
		text-align: left;
		@include -m() {
			padding: 50px 0 0;
		}
		@include -s() {
			grid-template-columns: auto;
			grid-template-rows: repeat(10, 125px);
			.input {
				grid-column-start: 1;
				grid-column-end: 3;
			}
		}
		.all {
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.input {
			align-self: center;
			padding: 0 10px;
			label:not(:last-child) {
				@include title($color-blue-l,20px);
				text-align: left;
				width: 100%;
				@include -m() {
					font-size: 18px;
				}
			}
			label:last-child {
				@include paragraph($color-blue-l,20px);
				text-align: left;
				width: 100%;
				@include -m() {
					font-size: 18px;
				}
			}
			select,
			input:not([type="checkbox"]) {
				width: 100%;
				margin-top: 12px;
				height: 50px;
				border: 1px solid $color-gray-d;
				@include -s() {
					height: 40px;
				}
				&.required {
					border-color: $color-error;
				}
				&[disabled="disabled"] {
					color: $color-orange-l;
				}
			}
			input:not([type="checkbox"]) {
				padding: 3px 24px;
				@include paragraph($color-orange, 24px);
				@include -s() {
					font-size: 20px;
				}
			}
		}
		.input-1 {
			select {
				@include paragraph($color-gray-d, 24px);
				width: 100%;
				padding: 3px 24px;
				&.selected {
					color: $color-orange;
					&[disabled="disabled"] {
						color: $color-orange-l;
					}
				}
				option:not([value="default"]) {
					@include paragraph($color-orange, 20px);
				}
				option[value="default"] {
					@include paragraph($color-gray-d, 20px);
				}
			}
		}
		.input-4,
		.input-5 {
			span {
				@include paragraph($color-blue-d,14px);
			}
		}
		.input-10 {
			justify-self: center;
			align-self: start;
			margin-top: 10px;
			input,
			label {
				vertical-align: bottom;
			}
			input {
				width: 20px;
				height: 20px;
			}
			label {
				margin-left: 10px;
			}
		}
		.form-footer {
			text-align: center;
			grid-column-start: 1;
			grid-column-end: 3;
			.links {
				&.hide {
					display: none;
				}
				a {
					@include paragraph($color-blue-l, 16px);
					@include -m() {
						font-size: 10px;
					}
				}
				button {
					@include -m() {
						@include btn-solid-s($color-orange, $color-blue);
					}
					@include transition();
					@include btn-solid($color-orange, $color-blue);
					border: none;
					margin-left: $padding-section-s;
					@include -l() {
						margin-left: $padding-section-s/2;
					}
					&:not(.disabled):hover {
						background-color: $color-orange-d;
						color: $color-blue;
					}
					&.disabled {
						cursor: default;
						background-color: $color-gray-l;
						color: $color-gray-d;
					}
				}
			}
		}
	}
}
