.gallery {
	padding: $padding-section-s;
	@include -l() {
		padding: $padding-section-s/2;
	}
	.gallery-container {
		display: grid;
		grid-template-columns: repeat(4, calc((100vw - 80px) / 4));
		grid-template-rows: repeat(3, calc((100vw - 80px) / 4));
		@include -l() {
			grid-template-columns: repeat(4, calc((100vw - 40px) / 4));
			grid-template-rows: repeat(3, calc((100vw - 40px) / 4));
		}
		@include -s() {
			display: block;
		}
		.grid-item {
			&:hover {
				@include transition(2s);
				background-position: right;
				background-color: $color-gray-d;
				&.grid-item-1,
				&.grid-item-7 {
					.content {
						@include s-() {
							@include transition(2s);
							top: calc(15% - 30px);
						}
					}
				}
				.content {
					h3,
					p,
					i {
						@include transition(2s);
						color: $color-orange-d;
					}
				}
			}
			@include -s() {
				height: 50vh;
			}
			@include transition(2s);
			text-align: center;
			padding: 30px;
			background-color: $color-gray;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			cursor: pointer;
			.content {
				@include -s() {
					top: 50%;
				}
				@include transition(2s);
				position: relative;
				top: calc(50% - 30px);
				transform: translateY(-50%);
				i {
					@include s-l() {
						margin: 0 0 5px 0;
						font-size: 20px;
					}
					@include transition(2s);
					margin: 0 0 10px 0;
					font-size: 30px;
					color: $color-blue-l;
				}
				h3 {
					@include s-l() {
						margin: 0 0 5px 0;
						@include title($color-blue-l, 20px);
					}
					@include transition(2s);
					@include title($color-blue-l, 30px);
					margin: 0 0 10px 0;
				}
				p {
					@include s-l() {
						margin: 0 0 5px 0;
						@include paragraph($color-blue-l, 20px, italic);
					}
					@include transition(2s);
					@include paragraph($color-blue-l, 30px, italic);
					text-transform: uppercase;
					margin: 0 0 10px 0;
				}
			}
		}
		.grid-item-1 {
			grid-area: 1 / 1 / 3 / 2;
		}
		.grid-item-7 {
			grid-area: 2 / 4 / 4 / 5;
		}
		.arrow {
			.content {
				i {
					@include -s() {
						transform: rotate(270deg);
					}
					transform: rotate(180deg);
				}
			}
		}
		.social {
			.content {
				p {
					@include paragraph($color-blue-l, 18px, italic);
					text-transform: none;
					@include s-l() {
						@include paragraph($color-blue-l, 12px, italic);
					}
				}
				.tag {
					@include paragraph($color-blue-l, 18px);
					font-weight: bold;
					@include s-l() {
						@include paragraph($color-blue-l, 12px);
					}
				}
			}
		}
	}
}
