.main-header {
	@include transition(1s);
	@include -s() {
		height: 60px;
		padding: 0 15px;
	}
	@include -xl() {
		height: 80px;
		padding: 0 20px;
	}
	height: 100px;
	width: 100%;
	background-color: $color-gray-l;
	font-size: 0;
	padding: 0 25px;
	position: fixed;
	top: 0;
	z-index: 5;
	&.top {
		background-color: transparent !important;
		top: 0;
	}
	&.fixed {
		background-color: $color-gray-l;
		top: 0;
	}
	&.not-fixed {
		top: -100px;
		@include -s() {
			top: -60px;
		}
		@include -xl() {
			top: -80px;
		}
	}
	.left {
		@include -s() {
			width: 50%;
		}
		@include s-m() {
			width: 40%;
		}
		@include m-xl() {
			width: 70%;
		}
		display: inline-block;
		width: 60%;
		height: 100%;
		text-align: left;
		vertical-align: top;
		.menu-icon {
			@include -m() {
				display: inline-block;
			}
			display: none;
			text-align: center;
			vertical-align: top;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			width: 50px;
			height: 50px;
			margin-right: 10px;
			.menu {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				font-size: 30px;
				color: $color-blue-l;
			}
		}
		.logo-icon {
			@include -s() {
				width: 50px;
				height: 50px;
				margin-right: 10px;
			}
			text-align: center;
			vertical-align: top;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			display: inline-block;
			width: 60px;
			height: 60px;
			margin-right: 25px;
			.logo {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				font-size: 50px;
				color: $color-orange;
				@include -s() {
					font-size: 30px;
				}
			}
		}
		.overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: rgba(128, 128, 128, 0.5);
			z-index: 3;
		}
		.menu-container {
			nav {
				@include m-() {
					display: inline-block;
					.side-menu {
						display: none;
					}
					ul {
						li {
							padding: 0 15px;
							display: inline-block;
							a {
								@include -s() {
									line-height: 60px;
								}
								@include -xl() {
									line-height: 80px;
								}
								@include transition();
								line-height: 100px;
								text-decoration: none;
								vertical-align: bottom;
								@include title($color-blue-l,18px);
								&:hover {
									color: $color-blue-d;
								}
								&.page-active {
									@include title($color-blue-d,18px);
								}
							}
						}
					}
				}
				@include -m() {
					@include transition();
					&.show {
						left: 0px;
					}
					&.hide {
						left: -275px;
					}
					position: fixed;
					top: 0;
					width: 275px;
					height: 100vh;
					background-color: $color-gray;
					z-index: 3;
					border-right: 2px dashed $color-gray-d;
					.side-menu {
						text-align: center;
						height: 80px;
						width: 100%;
						padding: 25px 20px;
						font-size: 0;
						.side-menu-name {
							@include title($color-blue,30px);
							display: inline-block;
							width: calc(100% - 30px);
							text-align: left;
						}
						.close {
							vertical-align: top;
							text-align: right;
							display: inline-block;
							width: 30px;
							height: 30px;
							font-size: 30px;
							color: $color-blue-d;
							cursor: pointer;
						}
					}
					ul {
						height: 100%;
						li {
							padding: 20px;
							a {
								text-decoration: none;
								@include title($color-blue-l,18px);
								@include transition();
								&:hover {
									color: $color-blue-d;
								}
								&.page-active {
									@include title($color-blue-d,18px);
								}
							}
						}
					}
				}
			}
		}
	}
	.right {
		@include -s() {
			width: 50%;
		}
		@include s-m() {
			width: 60%;
		}
		@include m-xl() {
			width: 30%;
		}
		display: inline-block;
		width: 40%;
		text-align: right;
		height: 100%;
		input {
			@include transition();
			@include hide-widescreen();
			@include title($color-blue-l, 18px);
			display: inline-block;
			margin-left: 25px;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			vertical-align: top;
			width: 0px;
			border: 2px dashed $color-blue;
			border-width: 0px;
			padding: 0;
			border-right: none;
			height: 50px;
			font-size: 18px;
			background-color: transparent;
			&.open {
				border-width: 2px;
				width: 200px;
				padding: 0 12px;
			}
		}
		.search-icon {
			@include transition();
			@include hide-widescreen();
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			vertical-align: top;
			display: inline-block;
			text-align: center;
			width: 50px;
			height: 50px;
			border: 2px dashed $color-orange;
			cursor: pointer;
			&:hover {
				border-color: $color-blue-d;
				i {
					color: $color-orange;
					@include transition();
				}
			}
			&.open {
				border-color: $color-blue-l;
				background-color: $color-blue-l;
				i {
					color: $color-orange;
				}
			}
			i {
				@include transition();
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				font-size: 30px;
				color: $color-blue-l;
			}
		}
		.nav-utility {
			display: inline-block;
			.util-options {
				@include transition();
				@include -s() {
					padding: 0 5px;
				}
				padding: 0 15px;
				display: inline-block;
				cursor: pointer;
				height: 100px;
				@include -s() {
					height: 60px;
				}
				@include -xl() {
					height: 80px;
				}
				&.basket {
					&.active {
						@include transition();
						border-bottom: 3px solid $color-orange;
						div i,
						a {
							@include transition();
							color: $color-orange;
						}
					}
				}
				&:hover {
					.icon i,
					a {
						@include transition();
						color: $color-blue-d;
					}
				}
				.icon {
					@include transition();
					display: inline-block;
					position: relative;
					top: 50px;
					@include -s() {
						top: 30px;
					}
					@include -xl() {
						top: 40px;
					}
					transform: translateY(-50%);
					width: 20px;
					height: 20px;
					vertical-align: top;
					margin: 0 6px;
					i {
						@include transition();
						display: inline-block;
						font-size: 20px;
						color: $color-blue-l;
					}
				}
				a {
					@include transition();
					@include hide-widescreen();
					@include s-m() {
						display: inline-block;
					}
					@include -s() {
						line-height: 60px;
					}
					@include -xl() {
						line-height: 80px;
					}
					line-height: 100px;
					display: inline-block;
					text-decoration: none;
					vertical-align: bottom;
					@include title($color-blue-l,18px);
					&.hide {
						display: none;
					}
				}
				.basket-count {
					display: inline-block;
					vertical-align: top;
					@include paragraph($color-orange, 18px);
					position: relative;
					top: 50px;
					@include -s() {
						top: 30px;
					}
					@include -xl() {
						top: 40px;
					}
					transform: translateY(-50%);
				}
			}
		}
	}
}
