.item-list {
	@include -l() {
		padding: $padding-section-s/2;
	}
	text-align: center;
	padding: $padding-section-s;
	font-size: 0;
	h2 {
		@include -m() {
			@include title($color-orange,32px);
		}
		@include title($color-orange,42px);
		margin-bottom: 20px;
	}
	.description {
		@include -m() {
			@include paragraph($color-blue-l, 14px,italic);
		}
		@include paragraph($color-blue-l, 18px,italic);
	}
	.empty-state {
		&:not(.show) {
			display: none;
		}
		&.show {
			text-align: center;
			padding: $padding-section-s;
			img {
				width: 200px;
			}
			.empty-state-text {
				@include paragraph($color-orange, 20px,italic);
				margin-top: 30px;
			}
		}
	}
	.list-container {
		margin-top: $padding-section-s;
		padding: $padding-section-s/2 0;
		@include -l() {
			margin-top: $padding-section-s/2;
			padding: $padding-section-s/4 0;
		}
		.list-header {
			ul {
				padding: $padding-section-s/4 $padding-section-s/2;
				font-size: 0;
				text-align: left;
				border-bottom: 1px dashed $color-gray-d;
				@include -l() {
					padding: $padding-section-s/8 $padding-section-s/4;
				}
				li {
					display: inline-block;
					@include -s() {
						&:nth-child(1) {
							display: none;
						}
						&:nth-child(2) {
							width: 45%;
						}
						&:nth-child(3) {
							width: 25%;
						}
						&:nth-child(4) {
							width: 10%;
						}
						&:nth-child(5) {
							width: 20%;
						}
					}
					@include s-() {
						&:nth-child(1) {
							width: 15%;
						}
						&:nth-child(2) {
							width: 45%;
						}
						&:nth-child(3) {
							width: 20%;
						}
						&:nth-child(4) {
							width: 10%;
						}
						&:nth-child(5) {
							width: 10%;
						}
					}
					h3 {
						@include title($color-blue, 20px);
						@include -m() {
							font-size: 14px;
						}
						text-align: left;
					}
				}
			}
		}
		.list-main {
			margin-bottom: $padding-section-s;
			@include -l() {
				margin-bottom: $padding-section-s/2;
			}
			.list-items-ul {
				padding: 0 $padding-section-s/2;
				font-size: 0;
				text-align: left;
				@include -l() {
					padding: 0 $padding-section-s/4;
				}
				.list-item {
					height: 120px;
					padding: $padding-section-s/2 0;
					position: relative;
					@include l-() {
						&:hover {
							ul {
								li {
									&.item-description {
										h3 {
											@include transition();
											color: $color-orange;
										}
										p {
											@include transition();
											color: $color-orange;
										}
									}
									img {
										@include transition();
										opacity: 1;
									}
									h4 {
										@include transition();
										color: $color-orange;
										&.price {
											&::after {
												@include transition();
												color: $color-orange;
											}
										}
									}
									input {
										@include transition();
										color: $color-orange;
									}
								}
								.delete-icon {
									@include transition();
									opacity: 1;
								}
							}
						}
					}
					@include -l() {
						padding: $padding-section-s/4 0;
						height: 100px;
					}
					@include -s() {
						height: 60px;
					}
					&:not(.removed) {
						&:not(:last-child) {
							border-bottom: 1px dashed $color-gray;
						}
					}
					ul {
						font-size: 0;
						li {
							vertical-align: top;
							height: 100%;
							display: inline-block;
							@include -s() {
								&:nth-child(1) {
									display: none;
								}
								&:nth-child(2) {
									width: 45%;
									top: 20px;
								}
								&:nth-child(3) {
									width: 25%;
									top: 20px;
								}
								&:nth-child(4) {
									width: 10%;
									top: 20px;
								}
								&:nth-child(5) {
									width: 20%;
									top: 20px;
								}
							}
							@include s-() {
								&:nth-child(1) {
									width: 15%;
									top: 40px;
								}
								&:nth-child(2) {
									width: 45%;
									top: 40px;
								}
								&:nth-child(3) {
									width: 20%;
									top: 40px;
								}
								&:nth-child(4) {
									width: 10%;
									top: 40px;
								}
								&:nth-child(5) {
									width: 10%;
									top: 40px;
								}
							}
							&:nth-child(2) {
								position: relative;
								transform: translateY(-50%);
							}
							&:nth-child(3) {
								position: relative;
								transform: translateY(-50%);
							}
							&:nth-child(4) {
								position: relative;
								transform: translateY(-50%);
							}
							&:nth-child(5) {
								position: relative;
								transform: translateY(-50%);
							}
							&.item-description {
								h3 {
									@include transition();
									@include title($color-blue-l, 20px);
									@include -m() {
										font-size: 14px;
									}
								}
								p {
									@include transition();
									@include paragraph($color-blue-l, 18px,italic);
									@include -m() {
										font-size: 12px;
									}
									@include hide-mobile();
								}
							}
							img {
								@include transition();
								height: 80px;
								width: 80px;
								background-size: auto;
								opacity: .5;
							}
							h4 {
								@include transition();
								@include paragraph($color-blue-l, 20px);
								@include -m() {
									font-size: 14px;
								}
								&.price {
									&::after {
										content: '€';
										font-size: 14px;
									}
								}
							}
							input {
								@include transition();
								width: 50px;
								border: none;
								@include paragraph($color-blue-l, 22px);
								@include -m() {
									font-size: 16px;
								}
								&::-webkit-inner-spin-button,
								&::-webkit-outer-spin-button {
									opacity: 1;
									cursor: pointer;
								}
							}
						}
						.delete-icon {
							@include transition();
							position: absolute;
							top: 50%;
							transform: translate(-50%, -50%);
							vertical-align: top;
							display: inline-block;
							text-align: center;
							width: 35px;
							height: 35px;
							border-radius: 50%;
							cursor: pointer;
							opacity: 0;
							@include -l() {
								opacity: 1;
							}
							&:hover {
								background-color: $color-gray-l;
								i {
									@include transition();
									color: $color-orange;
								}
							}
							i {
								@include transition();
								position: relative;
								top: 50%;
								transform: translateY(-50%);
								font-size: 20px;
								color: $color-blue-l;
							}
						}
					}
				}
			}
			.list-subtotal {
				text-align: right;
				padding: $padding-section-s/2;
				background-color: $color-gray-l;
				border-top: 1px solid $color-gray;
				@include -l() {
					padding: 15px;
				}
				h4 {
					@include paragraph($color-blue, 18px);
					@include -m() {
						font-size: 14px;
					}
					display: inline-block;
				}
				p {
					margin-left: 12px;
					display: inline-block;
					vertical-align: top;
					@include title($color-orange, 16px);
					@include -m() {
						font-size: 12px;
					}
					&::after {
						content: '€';
						vertical-align: top;
						font-size: 14px;
						@include -m() {
							font-size: 12px;
						}
					}
				}
			}
		}
		.list-footer {
			text-align: right;
			.links {
				&.hide {
					display: none;
				}
				a {
					@include paragraph($color-blue-l, 16px);
					@include -m() {
						font-size: 10px;
					}
				}
				button {
					@include -m() {
						@include btn-solid-s($color-orange, $color-blue);
					}
					@include transition();
					@include btn-solid($color-orange, $color-blue);
					border: none;
					margin-left: $padding-section-s;
					@include -l() {
						margin-left: $padding-section-s/2;
					}
					&:not(.disabled):hover {
						background-color: $color-orange-d;
						color: $color-blue;
					}
					&.disabled {
						cursor: default;
						background-color: $color-gray-l;
						color: $color-gray-d;
					}
				}
			}
			.proceed {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: fit-content;
			}
		}
	}
}
