.mini-slideshow {
	@include hide-mobile();
	padding: $padding-section-s;
	font-size: 0;
	text-align: center;
	@include -l() {
		padding: $padding-section-s/2;
	}
	&[label="true"] {
		border-top: 2px dashed $color-gray;
		.check-more {
			@include paragraph($color-gray-d, 24px,italic);
			padding-bottom: $padding-section-s;
			@include -l() {
				padding-bottom: $padding-section-s/2;
			}
		}
	}
	.left.disabled,
	.right.disabled {
		cursor: default;
		a {
			i {
				color: $color-gray;
			}
		}
	}
	.left,
	.right {
		@include -l {
			padding: 60px 0;
		}
		@include transition();
		cursor: pointer;
		border: 2px dashed $color-orange;
		padding: 55px 0;
		background-color: $color-gray-l;
		display: inline-block;
		width: 5%;
		height: 150px;
		vertical-align: top;
		user-select: none;
		&:not(.disabled):hover {
			border: 2px dashed $color-blue;
			a {
				i {
					@include transition();
					color: $color-orange;
				}
			}
		}
		a {
			width: 30px;
			height: 30px;
			i {
				@include -l {
					font-size: 30px;
				}
				@include transition();
				color: $color-blue;
				font-size: 40px;
			}
		}
	}
	.container {
		border-left: none;
		border-right: none;
		border-top: 2px dashed $color-orange;
		border-bottom: 2px dashed $color-orange;
		vertical-align: top;
		overflow-x: hidden;
		white-space: nowrap;
		display: inline-block;
		width: 90%;
		height: 150px;
		max-height: 150px;
		font-size: 0;
		div {
			@include transition();
			cursor: pointer;
			position: relative;
			left: 0;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: inline-block;
			width: 300px;
			height: 100%;
			opacity: 0.75;
			&:hover {
				opacity: 1;
			}
		}
	}
	.overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(128, 128, 128, 0.5);
		z-index: 3;
		.image {
			box-shadow: 0 0 25px 10px rgba(150, 150, 150, 1);
			text-align: right;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: fixed;
			top: 50vh;
			transform: translateY(-50%);
			left: 10vw;
			width: 80vw;
			height: 40vw;
			i {
				@include transition();
				margin: 12px;
				cursor: pointer;
				font-size: 40px;
				color: $color-blue-d;
				border: 2px dashed $color-orange;
				&:hover {
					color: $color-orange;
					border: 2px dashed $color-blue;
				}
			}
		}
	}
}
