.payment {
	@include -l() {
		padding: $padding-section-s/2;
	}
	&.hide {
		display: none;
	}
	text-align: center;
	padding: $padding-section-s;
	font-size: 0;
	h2 {
		@include -m() {
			@include title($color-orange,32px);
		}
		@include title($color-orange,42px);
		margin-bottom: 20px;
	}
	.description {
		@include -m() {
			@include paragraph($color-blue-l, 14px,italic);
		}
		@include paragraph($color-blue-l, 18px,italic);
		cursor: default;
		display: inline-block;
	}
	.payment-grid {
		display: grid;
		padding: 100px 25%;
		grid-template-columns: auto;
		grid-template-rows: 150px 100px 100px;
		text-align: left;
		@include -m() {
			padding: 50px 0 0;
		}
		.payment-item-1 {
			font-size: 0;
			.titles,
			.results {
				width: 50%;
				display: inline-block;
				@include paragraph($color-blue-l, 22px);
				@include -m() {
					font-size: 18px;
				}
				p {
					padding: 5px 0;
					&:last-child {
						color: $color-orange;
					}
				}
			}
			.titles {
				text-align: right;
			}
			.results {
				padding-left: 10px;
				font-style: italic;
				text-align: left;
				p::before {
					content: '€';
					font-size: 16px;
				}
			}
		}
		.payment-item-2 {
			align-self: start;
			label {
				@include title($color-blue-l,20px);
				text-align: left;
				width: 100%;
				@include -m() {
					font-size: 18px;
				}
			}
			select {
				@include paragraph($color-gray-d, 24px);
				width: 100%;
				margin-top: 12px;
				height: 50px;
				border: 1px solid $color-gray-d;
				@include -m() {
					font-size: 20px;
				}
				@include -s() {
					height: 40px;
				}
				&.required {
					border-color: $color-error;
				}
				padding: 3px 24px;
				&.selected {
					color: $color-orange;
				}
				option:not([value="default"]) {
					@include paragraph($color-orange, 20px);
				}
				option[value="default"] {
					@include paragraph($color-gray-d, 20px);
				}
			}
		}
		.payment-item-3 {
			text-align: center;
			align-self: center;
			a {
				@include paragraph($color-blue-l, 16px);
				@include -m() {
					font-size: 10px;
				}
			}
			button {
				@include -m() {
					@include btn-solid-s($color-orange, $color-blue);
				}
				@include transition();
				@include btn-solid($color-orange, $color-blue);
				margin-left: $padding-section-s;
				@include -l() {
					margin-left: $padding-section-s/2;
				}
				border: none;
				&:not(.disabled):hover {
					background-color: $color-orange-d;
					color: $color-blue;
				}
				&.disabled {
					cursor: default;
					background-color: $color-gray-l;
					color: $color-gray-d;
				}
			}
		}
	}
}
