.products {
	@include -l() {
		padding: $padding-section-s/2;
	}
	text-align: center;
	padding: $padding-section-s;
	font-size: 0;
	h2 {
		@include -m() {
			@include title($color-orange,32px);
		}
		@include title($color-orange,42px);
		margin-bottom: 20px;
		.text-searched {
			color: $color-blue-l;
		}
	}
	.all-products {
		@include -m() {
			@include paragraph($color-blue-l, 14px,italic);
		}
		@include paragraph($color-blue-l, 18px,italic);
		cursor: default;
		display: inline-block;
	}
	.empty-state {
		text-align: center;
		padding: $padding-section-s;
		img {
			width: 200px;
		}
		.empty-state-text {
			@include paragraph($color-orange, 20px,italic);
			margin-top: 30px;
		}
	}
	.filters {
		padding: $padding-section-s;
		@include -s() {
			padding: $padding-section-s/2;
		}
		select {
			@include -s() {
				margin: auto;
				margin-top: 24px;
				display: block;
			}
			@include transition();
			@include title($color-blue-l, 14px);
			display: inline-block;
			margin-left: 24px;
			padding: 6px 24px;
			background-color: transparent;
			border: none;
			border-bottom: 1px dashed $color-blue-l;
			text-transform: none;
			cursor: pointer;
			&.filtered {
				color: $color-orange;
				border-color: $color-orange;
			}
		}
	}
	.product-container {
		@include transition();
		&.hidden {
			display: none;
		}
		text-align: left;
		article {
			@include -m() {
				margin: 5% 2%;
				width: calc(25% - 4%);
			}
			@include -s() {
				width: calc(50% - 6%);
				height: 60vw;
				margin: 15% 3%;
			}
			@include transition(1s);
			position: relative;
			cursor: pointer;
			text-align: center;
			width: calc(25% - 6%);
			height: 30vw;
			margin: 3%;
			display: inline-block;
			vertical-align: top;
			&:hover {
				img {
					@include transition(1s);
					border: 2px dashed $color-orange;
					opacity: 1;
				}
				.description {
					@include transition(1s);
					color: $color-orange;
					font-size: 18px;
					top: 0;
				}
				.price {
					@include transition(1s);
					color: $color-orange;
					font-size: 18px;
					top: 0;
					&::before {
						@include transition(1s);
						color: $color-orange;
						font-size: 18px;
						top: 0;
					}
				}
			}
			.chips {
				position: absolute;
				top: 10px;
				right: 10px;
				.bundle,
				.sale {
					@include -s() {
						font-size: 8px;
					}
					display: inline-block;
					padding: 4px 8px;
					border-radius: 100px;
					margin-left: 6px;
					@include title($color-gray-l, 12px);
				}
				.bundle {
					background-color: $color-blue;
				}
				.sale {
					animation: heart 2s infinite;
				}
			}
			img {
				@include transition(1s);
				border: 2px dashed $color-blue-l;
				display: block;
				width: 100%;
				height: 80%;
				object-fit: cover;
				margin-bottom: 25px;
				@include l-() {
					opacity: 0.25;
				}
			}
			.description {
				@include transition(1s);
				@include l-() {
					position: relative;
					top: -50%;
					@include title($color-blue-l, 20px);
				}
				display: block;
				margin-bottom: 5px;
				@include title($color-blue-l, 18px);
				text-transform: none;
			}
			.price {
				@include transition(1s);
				@include l-() {
					@include title($color-blue, 20px);
					position: relative;
					top: -50%;
				}
				display: block;
				@include title($color-blue, 18px);
				text-transform: none;
				&::before {
					@include transition(1s);
					content: '€';
					@include title($color-blue, 18px);
				}
			}
		}
	}
	.pagination {
		font-size: 0;
		@include -m() {
			margin-top: 36px;
		}
		div {
			@include transition();
			@include paragraph($color-blue, 20px);
			user-select: none;
			letter-spacing: 0;
			line-height: 22px;
			display: inline-block;
			width: 20px;
			height: 20px;
			margin: 0 3px;
			border: 2px solid $color-blue;
			cursor: pointer;
			&:not(.current):hover {
				border-color: $color-blue-l;
			}
		}
		.current {
			@include transition();
			color: $color-orange;
			border: 2px solid $color-orange;
		}
	}
}

@keyframes heart {
	0%,
	100% {
		background-color: $color-orange;
	}
	50% {
		background-color: $color-orange-l;
	}
}
