.signup {
	text-align: center;
	padding: 100px;
	@include -l {
		padding: 100px 50px;
	}
	@include -s() {
		padding: 50px 25px;
	}
	h2 {
		@include -m() {
			@include title($color-orange,32px);
		}
		@include title($color-orange,42px);
		margin-bottom: 20px;
	}
	p {
		@include -m() {
			@include paragraph($color-orange, 14px,italic);
		}
		@include paragraph($color-orange, 18px,italic);
	}
	.form {
		@include -s() {
			margin: 25px 0 0 0;
		}
		font-family: $font-2;
		font-size: 0;
		margin: 50px 0 0 0;
		input,
		button {
			@include -m() {
				border: 1px dashed $color-blue-l;
				height: 40px;
			}
			display: inline-block;
			font-family: $font-2;
			height: 60px;
			border: none;
			align-items: flex-start;
			padding: 0;
			vertical-align: bottom;
			border: 2px dashed $color-blue-l;
		}
		input[type="text"] {
			@include -m() {
				width: 300px;
				padding: 3px 12px;
			}
			@include -s() {
				width: 175px;
			}
			border-right: none;
			width: 475px;
			padding: 3px 24px;
			@include title($color-blue-l, 24px);
		}
		button {
			@include transition();
			@include btn-solid($color-blue-l,$color-orange);
			@include -m() {
				padding: 10px 20px;
			}
			&:hover {
				color: $color-blue-l;
				background-color: $color-orange;
				border-color: $color-orange;
			}
		}
	}
}
