.single-product {
	@include -s() {
		padding: $padding-section-s/2;
		padding-top: 0;
	}
	padding: $padding-section-s;
	padding-top: 0;
	text-align: center;
	.product-image {
		@include -s() {
			height: 40vh;
			margin-bottom: $padding-section-s;
		}
		@include transition();
		position: relative;
		height: 60vh;
		margin-bottom: $padding-section-s*2;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		.more-images {
			@include transition();
			@include -s() {
				bottom: 6px;
				right: 6px;
			}
			position: absolute;
			bottom: 12px;
			right: 12px;
			.square {
				@include -s() {
					margin-top: 6px;
					height: 50px;
					width: 50px;
				}
				@include transition();
				cursor: pointer;
				margin-top: 12px;
				height: 75px;
				width: 75px;
				border: 1px dashed $color-blue-l;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				opacity: .75;
				&:hover {
					opacity: 1;
					border: 1px dashed $color-orange;
				}
			}
		}
	}
	.product-info {
		h2 {
			@include title($color-orange,42px);
		}
		.art-number {
			margin-top: 6px;
			@include paragraph($color-blue-l, 18px,italic);
		}
		.price {
			margin-top: 30px;
			@include title($color-orange, 30px);
			&::before {
				content: '€';
			}
		}
		.description {
			margin-top: 30px;
			@include paragraph($color-blue-l, 20px);
		}
		.options {
			@include -s() {
				padding: 15px 0;
			}
			padding: 30px 0;
			h3 {
				@include title($color-blue-l, 24px);
			}
			ul {
				margin-top: 12px;
				li {
					@include -s() {
						padding: 3px 6px;
						margin: 0 2px;
						font-size: 10px;
					}
					@include transition();
					user-select: none;
					cursor: pointer;
					display: inline-block;
					@include title($color-blue-l, 14px);
					padding: 6px 12px;
					margin: 0 3px;
					border: 1px dashed $color-blue-l;
					&.selected {
						border: 1px dashed $color-orange;
						color: $color-orange-d;
					}
					&:not(.selected):hover {
						border-color: $color-blue-d;
						color: $color-blue-d;
					}
				}
			}
		}
		button {
			@include -s() {
				@include btn-solid-s($color-orange, $color-blue);
			}
			@include transition();
			@include btn-solid($color-orange, $color-blue);
			border: none;
			margin: 24px 0;
			&:hover {
				background-color: $color-orange-d;
				color: $color-blue;
			}
			&.disabled {
				cursor: default;
				background-color: $color-gray-l;
				color: $color-gray-d;
			}
		}
	}
}
