.slideshow {
	@include -s() {
		height: calc(100vh - 60px);
	}
	@include -xl() {
		height: calc(100vh - 80px);
	}
	height: calc(100vh - 100px);
	background-color: $color-gray-l;
	font-size: 0;
	.main-photo {
		position: relative;
		height: 100%;
		background-color: $color-gray-l;
		font-size: 0;
		.active {
			height: 100%;
			text-align: center;
			.photo {
                @include transition(1s);
				display: inline-block;
				position: absolute;
				left: 100vw;
				width: 100vw;
				height: 100%;
				background-position: center;
				background-repeat: no-repeat;
                background-size: cover;
                &.equal {
                    left: 0vw;
                }
                &.plus {
                    left: 100vw;
                }
                &.minus {
                    left: -100vw;
                }
				.container {
					position: relative;
					top: calc((100vh - 100px) / 2.5);
					padding: 0 48px;
					transform: translateY(-50%);
					width: 100vw;
					height: fit-content;
					h1 {
						@include -xl() {
							@include title($color-blue-l, 48px);
						}
						@include -m() {
							@include title($color-blue-l, 36px);
						}
						@include title($color-blue-l, 78px);
						margin-bottom: 25px;
					}
					p {
						@include -xl() {
							@include paragraph($color-blue-l, 24px, italic);
						}
						@include -m() {
							@include paragraph($color-blue-l, 18px, italic);
						}
						@include paragraph($color-blue-l, 30px, italic);
						padding: 0 12px;
					}
				}
			}
			.show {
				display: inline-block;
				position: absolute;
				width: 100vw;
				left: 0;
			}
		}
		.layer {
			position: relative;
			top: calc((100vh - 100px) * -1);
			height: calc(100vh - 100px);
			text-align: center;
			.left {
				display: inline-block;
				width: 50%;
				text-align: left;
				position: relative;
				top: calc((100vh - 100px) / 2);
				transform: translateY(-50%);
				a {
					&:not(.disabled) {
						i {
							@include -m() {
								font-size: 50px;
							}
                            @include transition();
							font-size: 100px;
							color: $color-blue;
							cursor: pointer;
							&:hover {
								color: $color-blue-l;
							}
						}
					}
					i {
						@include -m() {
							font-size: 50px;
						}
						font-size: 100px;
						color: $color-gray;
						cursor: default;
					}
				}
			}
			.right {
				display: inline-block;
				width: 50%;
				text-align: right;
				position: relative;
				top: calc((100vh - 100px) / 2);
				transform: translateY(-50%);
				a {
					&:not(.disabled) {
						i {
							@include -m() {
								font-size: 50px;
							}
                            @include transition();
							font-size: 100px;
							color: $color-blue;
							cursor: pointer;
							&:hover {
								color: $color-blue-l;
							}
						}
					}
					i {
						@include -m() {
							font-size: 50px;
						}
						font-size: 100px;
						color: $color-gray;
						cursor: default;
					}
				}
			}
			button {
				@include -m() {
					@include btn-solid-s($color-orange, $color-blue);
				}
				@include transition();
				position: absolute;
				bottom: 25%;
				left: 50%;
				transform: translateX(-50%);
				@include btn-solid($color-orange, $color-blue);
				border: none;
				&:hover {
					background-color: $color-orange-d;
					color: $color-blue;
				}
			}
			.bottom {
				position: absolute;
				bottom: 24px;
				left: 50%;
				transform: translateX(-50%);
				font-size: 0;
				div {
					@include -m() {
						width: 10px;
						height: 10px;
						border: 1px solid $color-blue;
					}
                    @include transition();
					display: inline-block;
					border-radius: 50%;
					width: 15px;
					height: 15px;
					margin: 0 3px;
					border: 2px solid $color-blue;
					cursor: pointer;
					&:hover {
						border-color: $color-blue-l;
					}
				}
				.current {
					@include -m() {
						border: 1px solid $color-blue-d;
					}
					background-color: $color-blue-d;
					border: 2px solid $color-blue-d;
				}
			}
		}
	}
}
